# Logs
logs
*.log
npm-debug.log*
/data/jobs.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build directories
/frontend/build
/frontend/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Data and backup files
/data/*.log
/backups/*
!/backups/.gitkeep
notes.txt
